*{
    padding: 0;
    margin: 0;
}

body,
html{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intro{
    position: absolute;
    top: 0;
    left: 0;
}

.name{
    font-family : 'Caveat';
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
}

.subtitle {
    font-family : 'Mate SC';
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
}

.menu-btn{
    position: absolute;
    height: 35px;
    top: -17.5px;
    width: 100px;
    left: -55px;
    padding: 0 10px;
    /* background-color: rgba(0,0,0,0.5); */
    /* border: 1px solid white; */
    /* border-radius: 5px; */
    text-align: center;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn .menu-p {
    /* font-family : 'Mate SC'; */
    font-family : 'Caveat';
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
}

.selected{
    border: 1px solid white;
    border-radius: 5px;
    font-size: 45px;
}

.test {
    position: absolute;
    height: 5px;
    top: -2.5px;
    width: 5px;
    left: -2.5px;
    background-color: "#fff"; 
    border: 1px solid white;
    border-radius: 50%;
}